.mainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: space-evenly;
}
